// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;
$header-bg: #DCE2E8;


$break-small: 1249px;
$break-large: 1250px;
$border-color: #3F5C7E;