// --------------------------------------------------
// Layout default
// --------------------------------------------------

$break-small: 1249px;
$break-large: 1250px;

@import url('https://fonts.googleapis.com/css?family=Raleway');

.topmenu {
  @media screen and (max-width: $break-small){
    margin-top: 0
  }
  @media screen and (min-width: $break-large){
    margin-top: 1.5rem
  }
}

h1{
    font-family: 'Raleway', sans-serif;
    @media screen and (max-width: $break-small){
      font-size: 1.5rem;
    }
    @media screen and (min-width: $break-large){
      font-size: 2.8rem;
    }
}


.navbar {
  background: white;
  font-family: 'Raleway', sans-serif;
  padding: 24px 0;
}


footer {
  @include grid-row;
  background-color: $light-gray;

  
  position: fixed;
  bottom: 0;
  z-index: -1;
  padding: 9px;
  nav {
    @include grid-column;
  }
}

.container {
  border: 9px solid #A1D490;
  min-height: 100%;
}


.content {
  max-width: 1250px;
  @media screen and (max-width: $break-small){
    margin: 0 5% 0 5%;
  }
  @media screen and (min-width: $break-large){
    margin: 0 auto;
  }
}

.site-logo {
  width: 40%;
}