---
layout: default
---

<!-- This loops through the paginated posts -->
<div class="row post-index" data-equalizer>
{% for post in paginator.posts %}
    
    {% capture mod %} {{ forloop.index | modulo: 2 }} {% endcapture %}
    
    <article class="medium-6 columns bottom-margin" data-equalizer-watch>
        <div class="post_preview">
            <h1><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></h1>
            <p class="post-meta">{{ post.date | date: '%B %d, %Y' }}</p>
            {{ post.description }}
            <a href="{{ post.url }}">Read more...</a>
            <div class="post_tags">{{ page.categories }}
        </div>        
    </article>

<!-- if we're at the end of a row, end this one and make a new one -->
{% if mod == ' 0 ' %}
</div>

<div class="row post-index" data-equalizer>
{% endif %}
{% endfor %}
</div>

<br><br>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav>
    <ul class="pagination">
        {% if paginator.previous_page %}
            <li class="arrow"><a href="{{ paginator.previous_page_path | replace: '/index.html', '' }}">&laquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a>&laquo;</a></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li class="current"><a>{{ page }}</a></li>
            {% elsif page == 1 %}
                <li><a href="{{ site.paginate_path | replace: '/seite:1', '' }}">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a>&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
